#tabla {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: black;
  margin:auto auto ;
}

#vibora {
  position: absolute;
  width: 25px;
  height:25px;
  background-color: pink;
}
